html,body{
  height: 100%;
}

#root{
  height: 100%;
  background-color: blueviolet;
}

#mojong-app{
  height: 100%;
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.my-container{
  /* d-flex flex-column h-100 position-relative  */
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.my-content{
  background-color: #e9ecef;
  overflow: auto;
  flex-grow: 1; /*flex-grow-1*/
  padding-left: 0.5rem;
  padding-right: 0.5rem; /*px-2*/
  padding-bottom: 3.125rem; /*pb-5*/
}

.selected{
  font-weight: bold;
  color:#198754;
  border-bottom: 3px solid #198754;
}


/* input type=number 증감 화살표 없애기 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*스크롤스파이 */
#scroll-nav-stack a{
  color:black;
  text-decoration: none;
  cursor: pointer
}

.nav-active{
  background-color: rgb(134, 142, 150);
}

#scroll-nav-stack .nav-active a{
  color: white;
}

/* AddCart 모달의 Input */
#AddCartInput{
  color:transparent;
  text-shadow:0 0 0 black;
  width: 3em;
}

/*섹션에 아이템 요소들 */
.item{
  cursor: pointer;
}
